@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --darkBlue: hsl(209, 23%, 22%);
  --veryDarkBlueDarkMode: hsl(207, 26%, 17%);
  --veryDarkBlueLightMode: hsl(200, 15%, 8%);
  --darkGray: hsl(0, 0%, 52%);
  --veryLightGrayLightMode: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--veryLightGrayLightMode);
  font-family: 'Nunito Sans', sans-serif;
}

body.dark-theme {
  background-color: var(--darkBlue);
  color: white;
}

header {
  background-color: #fff;
  border-bottom: 5px solid hsl(0, 0%, 92%);
}

header.dark_border {
  border-bottom: 5px solid hsl(207, 28%, 15%);
}

#btn_theme-toggle {
  border-style: none;
  background-color: transparent;
}

/* Filter */

.form input, select {
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 600;
}

svg.ais-SearchBox-submitIcon {
  position: relative;
  left: 9vw;
  top: 4.8vh;
}

.region-select {
  width: 220px; 
  border-radius: 0.25em;
  cursor: pointer;
}

select {
  position: relative;
  outline: none;
  width: 160px;
}

option {
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
}

.form input::placeholder {
  color: #ccc;
  font-weight: 600;
}

header.dark-theme,
.form input.dark-theme, 
#select.dark-theme,
.countries .details.dark-theme,
.link_countries.dark-theme,
.region-select.dark-theme {
  background-color: var(--darkBlue);
}
#pageCountry.dark-theme,
#filter.dark-theme,
#countries.dark-theme {
  background-color: var(--veryDarkBlueDarkMode);
}

#select, option {
  font-weight: 700;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(151, 159, 162, 0.5);
}
.card.dark-theme {
  background-color: var(--darkBlue);
  box-shadow: 0 2px 5px black;
}

#pageCountry {
  background-color: var(--veryLightGrayLightMode);
}

#btnBack {
  border: 3px solid hsl(0, 0%, 92%);
  border-radius: 5px;
}

#btnBack.dark-theme {
  background-color: var(--darkBlue);
  border: 3px solid  hsl(207, 28%, 15%);
  color: #fff;
}

.grid article img {
  border-radius: 5px 5px 0 0;
  height: 200px;
  width: 100%;
}

.details {
  border-radius: 0 0 10px 10px;
}

.details h4 span {
  font-weight: 600;
}

.btn {
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  color: var(--darkBlue);
  font-size: .9em;
  font-weight: 600;
  box-shadow: 0 2px 5px rgba(151, 159, 162, 0.5);
}
.btn.dark-theme {
  background-color: var(--darkBlue);
  box-shadow: 0 2px 5px black;
  color: #fff;
}

.country-details h4 span {
  font-weight: 800;
}

.borders {
  display: flex;
  flex-wrap: wrap;
}

.linkBorders {
  border: 1px solid hsl(0, 0%, 88%);
  border-radius: 4px;
  box-shadow: 0 2px 5px hsla(200, 15%, 8%, .5);
}

#disable {
  display: none;
}

.flag img {
  box-shadow: 0 0 20px rgb(2, 3, 3);
}

@media (min-width: 768px) {
  svg.ais-SearchBox-submitIcon {
    top: 5.2vh;
    left: 2.5vw;
  }
}