@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --darkBlue: hsl(209, 23%, 22%);
  --veryDarkBlueDarkMode: hsl(207, 26%, 17%);
  --veryDarkBlueLightMode: hsl(200, 15%, 8%);
  --darkGray: hsl(0, 0%, 52%);
  --veryLightGrayLightMode: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  font-family: 'Nunito Sans', sans-serif;
}

body.dark-theme {
  background-color: var(--veryDarkBlueDarkMode);
  color: white;
}

img {
  max-width: 100%;
}

header {
  border-bottom: 5px solid hsl(0, 0%, 88%);
}

header.dark_border {
  border-bottom: 5px solid var(--veryDarkBlueDarkMode);
}

.bg_dark {
  background-color: var(--darkBlue);
  color: #fff;
}

/*
.theme-toggle {
  --size: 2rem;
  
  background: none;
  border: none;
  padding: 0;

  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;

  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;

  @media (hover: none) {
    --size: 48px;
  }
}

.theme-toggle > svg {
  inline-size: 100%;
  block-size: 100%;
  stroke-linecap: round;
}

.sun-and-moon {
  & > :is(.moon, .sun, .sun-beams) {
    transform-origin: center center;
  }

  & > :is(.moon, .sun) {
    fill: var(--icon-fill);

    @nest .theme-toggle:is(:hover, :focus-visible) > & {
      fill: var(--icon-fill-hover);
    }
  }

  & > .sun-beams {
    stroke: var(--icon-fill);
    stroke-width: 2px;

    @nest .theme-toggle:is(:hover, :focus-visible) & {
      stroke: var(--icon-fill-hover);
    }
  }
}

.sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill);

  @nest .theme-toggle:is(:hover, :focus-visible) > & {
    fill: var(--icon-fill-hover);
  }
}
*/

#btn_theme-toggle {
  border-style: none;
  background-color: transparent;
}

/* Filter */

.form input, select {
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 600;
}

svg.ais-SearchBox-submitIcon {
  position: relative;
  left: 9vw;
  top: 4.8vh;
}

.region-select {
  width: 220px;
  
  border-radius: 0.25em;
  cursor: pointer;
}

select {
  position: relative;
  outline: none;
  width: 160px;
}

option {
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
}

.form input::placeholder {
  color: #ccc;
  font-weight: 600;
}

.form input.dark-theme, 
#select.dark-theme,
.countries .details.dark-theme,
.link_countries.dark-theme,
.region-select.dark-theme {
  background-color: var(--darkBlue);
}

#select, option {
  font-weight: 700;
}

.btn.dark-theme {
  background-color: var(--darkBlue);
  color: #fff;
}

.grid article img {
  border-radius: 10px 10px 0 0;
  height: 200px;
  width: 100%;
}

.details {
  border-radius: 0 0 10px 10px;
}

.details h4 span {
  font-weight: 600;
}

.btn {
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  color: var(--darkBlue);
  font-weight: 600;
  box-shadow: 0 3px 5px black;
}

.country-details h4 span {
  font-weight: 800;
}

.borders {
  display: flex;
  flex-wrap: wrap;
}

.linkBorders {
  border: 1px solid hsl(0, 0%, 88%);
  border-radius: 4px;
  box-shadow: 0 2px 5px hsla(200, 15%, 8%, .5);
}

#disable {
  display: none;
}

@media (min-width: 768px) {
  svg.ais-SearchBox-submitIcon {
    top: 5.2vh;
    left: 2.5vw;
  }
}